.swipe {
  .screen {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 0.2);
      width: 100%;
      height: 100%;
      z-index: 7;
    }
  }
  &_content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &_block {
    flex: 1;
    border: 2px solid $colorArrow;
    z-index: 10;
    position: relative;
    clip-path: polygon(
      20px 0,
      calc(100% - 20px) 0,
      100% 20px,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      20px 100%,
      0 calc(100% - 20px),
      0 20px
    );

    .edge {
      position: absolute;
      width: 30px;
      height: 2px;
      background: $colorArrow;
      z-index: 10;
      box-shadow: 0px 0px 77.4px 0px rgba(33, 110, 167, 0.42) inset;

      &-tr {
        top: 9px;
        right: -8px;
        transform: rotate(45deg);
      }
      &-tl {
        top: 9px;
        left: -8px;
        transform: rotate(-45deg);
      }
      &-br {
        bottom: 9px;
        right: -8px;
        transform: rotate(135deg);
      }
      &-bl {
        bottom: 9px;
        left: -8px;
        transform: rotate(-135deg);
      }
    }
    &.shadow-t {
      background: linear-gradient(
        180deg,
        rgba($color: $colorArrow, $alpha: 0),
        rgba($color: $colorArrow, $alpha: 0.1),
        rgba($color: $colorArrow, $alpha: 0.15),
        rgba($color: $colorArrow, $alpha: 0.2)
      );
    }
    &.shadow-b {
      background: linear-gradient(
        180deg,
        rgba($color: $colorArrow, $alpha: 0.2),
        rgba($color: $colorArrow, $alpha: 0.15),
        rgba($color: $colorArrow, $alpha: 0.1),
        rgba($color: $colorArrow, $alpha: 0)
      );
    }
  }
}
