$shapePixel: 40px;

.swipe {
  .screen {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 0.2);
      width: 100%;
      height: 100%;
      z-index: 7;
    }
  }
  &_content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .frame {
      position: relative;
      width: 100%;
      height: 100%;
      border: 3px solid $colorArrow;
      box-sizing: border-box;
      z-index: 10;
      clip-path: polygon(
        20px 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        20px 100%,
        0 calc(100% - 20px),
        0 20px
      );

      &.shadow-t {
        background: linear-gradient(
          180deg,
          rgba($color: $colorArrow, $alpha: 0),
          rgba($color: $colorArrow, $alpha: 0.1),
          rgba($color: $colorArrow, $alpha: 0.15),
          rgba($color: $colorArrow, $alpha: 0.2)
        );
      }
      &.shadow-b {
        background: linear-gradient(
          180deg,
          rgba($color: $colorArrow, $alpha: 0.2),
          rgba($color: $colorArrow, $alpha: 0.15),
          rgba($color: $colorArrow, $alpha: 0.1),
          rgba($color: $colorArrow, $alpha: 0)
        );
      }
    }

    /* Cut corners by overlaying background-colored blocks */
    .corner {
      position: absolute;
      width: 28px;
      height: 28px;

      transform: rotate(45deg);
      border: 3px solid $colorArrow;
      box-sizing: border-box;
    }

    /* Position each corner */
    .corner.tl {
      top: -15px;
      left: -15px;
    }
    .corner.tr {
      top: -15px;
      right: -15px;
    }
    .corner.bl {
      bottom: -15px;
      left: -15px;
    }
    .corner.br {
      bottom: -15px;
      right: -15px;
    }
  }
}
