.tap_and_swipe {
  .screen {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 0.2);
      width: 100%;
      height: 100%;
      z-index: 7;
    }
  }
  &_content {
    .fox {
      position: absolute;
      top: 47%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      z-index: 5;
      object-fit: contain;
    }
  }
  &_block {
    width: 100%;
    height: calc(100dvh - 155px);
    position: relative;
    // border: 1px solid $colorArrow;
    z-index: 10;
    margin: 10px 0;
    // background: rgba($color: #000000, $alpha: 0.5);
  }
  .rainbow {
    position: absolute;
    z-index: 10;
    width: calc(100% - 28px);
    left: 14px;
    bottom: 38px;

    &-rocket {
      width: 19px;
      height: 31px;
      position: absolute;
      top: -40px;
      left: 41%;
      transform: translateX(-50%);
      transition: left 1s ease-in-out;
      transition-delay: 0.2s;
    }
    &-block {
      border: 1px solid $colorArrow;
      height: 21px;
      width: 100%;
      background: linear-gradient(90deg, #c3253d 5%, #fd8b20 35%, #caf91e 65.07%, #1ef984 100%);
    }
  }
}
