.bubble-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0px 0px 6.3px 1px rgba(69, 194, 248, 1), inset 0px 0px 4px 0px rgba(69, 194, 248, 1);
  background: rgba(210, 217, 240, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bubble-border {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(160, 214, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#burst {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bubble-text {
  --text-color: rgba(160, 214, 255, 1);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-transform: uppercase;
}

.bubble-hold {
  width: 46px;
  height: 46px;
  opacity: 1;
  background: none;

  .bubble-border {
    width: 46px;
    height: 46px;
  }
}
